<h1>Admin Dashboard</h1>

<h3 class="alert alert-info">
  <a href="admin/products">Product count: <%= @product_count %></a>
</h3>
<h3 class="alert alert-info text-lg">
  <a href="admin/categories">Category count: <%= @category_count %></a>
</h3>